{%load staticfiles %}
{% block extra_css %}
{% endblock extra_css %}
<title>
{% block title %}
    title
{% endblock title %}
</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_base.css' %}">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home &nbsp&nbsp</a>
            <div class="dropdown-content">
                <a class="navbar-brand" id="dropbtn" href="/articles"><i class="glyphicon glyphicon-th-list"></i> Articles &nbsp&nbsp</a>
                <div class="dropdown-items">
                    <a href="/articles/blogs/">Blogs</a>
                    <a href="/articles/lists/">Lists</a>
                    <a href="/articles/countdowns/">Countdowns</a>
                </div>
            </div>
            <a class="navbar-brand" href="/articles/submit"><i class="glyphicon glyphicon-send"></i> Submit &nbsp&nbsp</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
                <form id="search_bar" class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Articles" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% block side_bar %}
<div id="side-bar" class="col-md-4">
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Recent Tags &nbsp<i class="glyphicon glyphicon-tag"></i></h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Things to relate to</a>
                    </li>
                    <li><a href="#">Food</a>
                    </li>
                    <li><a href="#">College</a>
                    </li>
                    <li><a href="#">Pizza</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">East Coast</a>
                    </li>
                    <li><a href="#">These will be dynamically added eventually</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Side Widget Well -->
    <div class="well">
        <h4>Categories</h4>
        <br>
        <button id="grow" class="btn" type="submit" onclick="javascript: document.location.href='/articles/lists'">Lists
            <i class="glyphicon glyphicon-list-alt"></i></button>
        &nbsp &nbsp &nbsp &nbsp &nbsp
        <button id="grow" class="btn" type="submit" onclick="javascript: document.location.href='/articles/blogs'">Blogs
            <i class="glyphicon glyphicon-book"></i></button>
        &nbsp &nbsp &nbsp &nbsp &nbsp
        <button id="grow" class="btn" type="submit" onclick="javascript: document.location.href='/articles/countdowns'">
            Countdowns <i class="glyphicon glyphicon-sort-by-order"></i></button>
    </div>

    <div class="well">
        <h4>Sponsor</h4>
        <h1>Insert ad here</h1>
    </div>
</div>
</div>
{% endblock %}
<!-- /.row -->
<hr>
<!-- Footer -->
</div>
{% block content %}
    
{% endblock content %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% block extra_js %}
    
{% endblock extra_js %}
