{%extends 'blog_site_base.html'%}
{%load staticfiles%}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">




{% block extra_css %}
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
{% endblock extra_css %}
</head>

{% block title %}
    {{article.title}}
{% endblock title %}

{% block content %}


    

<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->


                <br>
                <h1>{{article.title}}</h1>

                <!-- Author -->


                <!-- Preview Image -->
            <br>
                <img id="title_bounds" class="img-responsive" src="{{ article.pic }}" alt="">


                <hr>

                <!-- Date/Time -->
                <p class="lead">
                    by {{ article.author }}
                    <img id="author_pic" class="img-circle img-responsive img-center" src="{{ article.author_pic }}"
                         alt="">
                </p>

                <hr>

                <hr>

                <!-- Post Content -->
                <p class="lead">{{article.description}}</p>

                {%if article.category == "Blog" %}

                    <div id = "blog_bounds">

                <p id="text_bounds">{{article.text | linebreaks}}</p>

                    </div>
                {%endif%}

                {%if article.category == "List"%}
                    <br>
                    {% for listitem in article.listitem_set.all %}
                        <hr>
                        <h1>{{ listitem.title }}</h1>
                        <img id="img_bounds" class="img-responsive" src="{{ listitem.pic }}" alt="">
                        <p>{{ listitem.description |linebreaks }}</p>
                        <br> <br><br>
                        </hr>

                    {% endfor %}
                    

                {%endif%}

                {%if article.category == "Countdown"%}

                    <br>
                <div id="c_pad">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->


                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        {% for countdownitem in article.countdownitem_set.all %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.revcounter }}"></li>
                        {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://tugta.com/wp-content/uploads/2015/10/large-white-background.jpg" alt="First slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>
                                    {{ article.title }}
                                </h2>
                                <br>
                                <br>
                            </div>
                        </div><!-- /header-text -->
                    </div>
                {% for countdownitem in article.countdownitem_set.all %}
                    <div class="item">
                        <img src="http://tugta.com/wp-content/uploads/2015/10/large-white-background.jpg"
                             alt="Second slide">
                        <!-- Static Header -->
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-center">
                                <h2>
                                    <div class = "numberCircle">{{ forloop.revcounter }}</div>
                                </h2>
                                <h2>{{ countdownitem.title }}</h2>
                                <br>
                                <h3>
                                    {{ countdownitem.description |linebreaks }}
                                </h3>
                                <img id="cd_img_bounds" class="img-responsive" src="{{ countdownitem.pic }}" alt="">

                                <br>

                            </div>
                        </div><!-- /header-text -->
                    </div>
                        {%  endfor %}
                    </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div><!-- /carousel -->
            </div>
                    </div>
                {%endif%}
                <hr>
            </div>
        </div>
    </div>
<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="600"
     data-numposts="5"></div>
</body>
{% endblock content %}

{% block extra_js %}
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("slides");
            if (n > x.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = x.length
            }
            ;
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
