{%extends 'blog_site_base.html'%}
{%load staticfiles%}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


{% block title %}
    
{% endblock title %}

{% block extra_css %}
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
{% endblock extra_css %}
</head>

{% block content %}
    

<body>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{article.title}}</h1>

                <!-- Author -->
                <p class="lead">
                     by {{article.author}}
                     <img id="author_pic" class="img-circle img-responsive img-center" src="{{article.author_pic}}" alt="">
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{article.pub_date}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{article.description}}</p>

                {%if article.category == "Blog" %}

                <p>{{article.text}}</p>
                
                {%endif%}

                {%if article.category == "List"%}
                    

                {%endif%}

                {%if article.category == "Category"%}
                {%endif%}

                <hr>


               

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" id="side-bar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>

</body>
{% endblock content %}

</html>
