{%load staticfiles %}
{% block extra_css %}
{% endblock extra_css %}
<title>
{% block title %}
    title
{% endblock title %}
</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home &nbsp&nbsp</a>
            <a class="navbar-brand" href="/articles"><i class="glyphicon glyphicon-th-list"></i> Articles &nbsp&nbsp</a>
            <a class="navbar-brand" href="/articles/submit"><i class="glyphicon glyphicon-send"></i> Submit &nbsp&nbsp</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
                <form id="search_bar" class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Articles" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% block content %}
    
{% endblock content %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
{% block extra_js %}
    
{% endblock extra_js %}