{% extends "blog_site_base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet"  href="{%static 'css/submit.css'%}">
{% endblock extra_css %}
{% block title %}
    Submit
{% endblock %}

{% block side_bar %} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-7">
                <br><br><br><br>
                <h1> Pick a type of article</h1>
                <br>

                    <a id="grow" class="btn btn-default btn-lg " href="/articles/submit_list">Lists
                        <i class="glyphicon glyphicon-list-alt"></i></a>
                    &nbsp &nbsp &nbsp &nbsp &nbsp
                    <a id="grow" class="btn btn-default btn-lg" href = "/articles/submit_blog">Blogs

                        <i class="glyphicon glyphicon-book"></i></a>
                    &nbsp &nbsp &nbsp &nbsp &nbsp
                    <a id="grow" class="btn btn-default btn-lg" href ="/articles/submit_countdown">
                        Countdowns <i class="glyphicon glyphicon-sort-by-order"></i></a>

            </div>
        </div>
    </div>
    {%endblock%}
